.git
.github
.turbo
**/.next
**/coverage
**/dist
**/.lighthouseci
**/node_modules
**/playwright-report
**/storybook-static
**/test-results
**/*.tsbuildinfo
.DS_Store
.env
.env.*
!.env.example
docker/secrets/*
!docker/secrets/.gitignore
!docker/secrets/README.md
*.log
